{% extends "main.twig" %}

{% block title %} Главная {% endblock %}

{% block titlePage %} Гостевая книга {% endblock %}

{% block content %}
    <table class="table ">
        <thead>
        <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Дата</th>
            <th>IP адрес</th>
            <th>Отзыв</th>
            <th>Кол-во лайков</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for user in result %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.date }}</td>
                    <td>{{ user.ip }}</td>
                    <td>{{ user.reviews }}</td>
                    <td>
                        {{ user.likes }}
                        <a href="">
                            <span class="glyphicon glyphicon-thumbs-up b-like"></span>
                        </a>
                    </td>
                    <td>
                        <a href="/{{ user.id }}">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary">Добавить отзыв</button>
        </div>
    </div>
{% endblock %}

